* {
  position: relative;
}

.logoutButton {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.dropdown {
  position: absolute;
  top: 1.5rem;
  width: 100%;
  text-align: center;
  background: #c7f2de;
}

.hideDropdown {
  display: none;
}
